@import "./display.css";
@import "./button.css";

.calculator {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  font: var(--textFont);
  color: var(--white);
}
